$card-border-radius: 0;
$card-border-width: 0;
$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  bxl: 1110px,
  xl: 1200px,
  bxxl: 1655px,
  xxl: 1900px
);

$container-max-widths: (
  sm: 567px,
  md: 768px,
  lg: 992px,
  bxl: 1110px,
  xl: 1200px,
  bxxl: 1655px,
  xxl: 1900px
);
